# Authentication parameters
# see https://gitlab.com/gitlab-org/GET/-/blob/main/docs/environment_provision.md#configure-authentication-gcp
GOOGLE_CREDENTIALS={{ ansible_env.WORKSPACE }}/keys/{{ config.credentials.google_credentials_file }}
# Ansible requires this variable
GOOGLE_APPLICATION_CREDENTIALS={{ ansible_env.WORKSPACE }}/keys/{{ config.credentials.google_credentials_file }}

# Service Account parameters
GCP_SA_SSH={{ ansible_env.WORKSPACE }}/keys/{{ config.credentials.service_account_key_file }}.pub
GCP_SA_SSH_PRIV={{ ansible_env.WORKSPACE }}/keys/{{ config.credentials.service_account_key_file }}
GCP_SA_USER={{ config.credentials.service_account_user }}

# GitLab license
GET_LICENSE={{ ansible_env.WORKSPACE }}/{{ config.licenses.premium }}
GET_ULTIMATE={{ ansible_env.WORKSPACE }}/{{ config.licenses.ultimate }}
