# Important directories
GET_HOME={{ ansible_env.WORKSPACE }}
GET_CONT={{ ansible_env.WORKSPACE }}/.devcontainer
GET_ARCH={{ ansible_env.WORKSPACE }}/.devcontainer/arch
GET_KEYS={{ ansible_env.WORKSPACE }}/keys
